body {
    position: relative;
    background-image: url('./assets/images/Background.jpg');
    background-size: cover;
    background-position: center;
    height: auto;
    margin: 0;
  }
  
  body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;  /* Prend l'image de fond du body */
    opacity: 0.5;  /* Opacité de l'image de fond */
    z-index: -1;  /* S'assure que l'image de fond reste en arrière-plan */
  }
  